<div class="container-fluid file_manager">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> File Media</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">File Manager</li>
                    <li class="breadcrumb-item active">File Media</li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visitors</span>
                </div>
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span>Visits</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">hellonew.mkv</p>
                            <small>Size: 720MB <span class="date text-muted">Dec 08, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-youtube-square text-danger"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">Jee Le Zara Song.mpg4</p>
                            <small>Size: 32MB <span class="date text-muted">Oct 11, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">hellonew.mkv</p>
                            <small>Size: 720MB <span class="date text-muted">Dec 08, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">hellonew.mkv</p>
                            <small>Size: 720MB <span class="date text-muted">Dec 08, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-youtube-square text-danger"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">Jee Le Zara Song.mpg4</p>
                            <small>Size: 32MB <span class="date text-muted">Oct 11, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-youtube-square text-danger"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">Jee Le Zara Song.mpg4</p>
                            <small>Size: 32MB <span class="date text-muted">Oct 11, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">hellonew.mkv</p>
                            <small>Size: 720MB <span class="date text-muted">Dec 08, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-youtube-square text-danger"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">Jee Le Zara Song.mpg4</p>
                            <small>Size: 32MB <span class="date text-muted">Oct 11, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>